@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf);
}
html {
    min-height: 100%;
}
body {
    display: inline-flex;
}
.leftText img {
    width: 12%;
    height: 80%;
}
.leftText{
    display: inline-flex;
    margin-top: 15rem;
    background-color: rgba(32, 32, 32, .6);
    width: 100%;
    height: 13rem;
    align-items: center;
    justify-content: center;
}
h1 {
    color: white;
    font-family: Norse-Bold;
    font-size: 7rem;  
}
.sideContent {
    height: 81rem;
    width: 70rem;
    background-size: 70rem 81rem;
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=1862&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#sideImage {
    width: 100%;
    height: 100%;
}
.credit {
    color: white;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-top: 40rem;
}
.mainContent {
    display: block;
    height: 81rem;
    width: 84rem;
    overflow: hidden;
}
#photographer {
    color: white;
}
#imageHost {
    color: white;
}
.topMainContent {
    height: 27rem;
    width: 100%;
    background-color: rgb(240, 240, 240);
    font-size: 1.5rem;
}
p {
    margin-top: 0%;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}
h3{
    margin-left: 2rem;
    font-size: 1.5rem;
}
form {
    margin-left: 2rem;
}
input, label {
    width: 15rem;
    height: 1.5rem;
    display: block;
}
.firstLine {
    float: left;
}
.secondLine {
    float: left;
    margin-left: 5rem;
}
.thirdLine {
    float: left;
    margin-left: 5rem;
}
.middleSection {
    display: block;
    height: 27rem;
    width: 100%;
    align-items: center;
}
.bottomOfMainContent {
    height: 27rem;
    width: 100%;
    font-size: 1.5rem;
    background-color: rgb(240, 240, 240);
}
button {
    margin-top: 1rem;
    height: 5rem;
    width: 15rem;
    color: white;
    font-size: 1.5rem;
    background-color: darkseagreen;
    margin-left: 2rem;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
}
button:hover {
    background-color: white;
    color: darkseagreen;
}
#logIn {
    color: darkseagreen;
}
